<div class="container">
    <form action="index.html">
    
        <label for="fname">Fyrsta Nafn:</label>
        <input type="text" id="fname" name="firstname" placeholder="Fyrsta Nafn" required pattern="\S+.*">
    
        <label for="lname">Síðasta Nafn:</label>
        <input type="text" id="lname" name="lastname" placeholder="Eftir Nafn" required pattern="\S+.*">
    
        <label for="country">Land:</label>
        <select id="country" name="country">
        <option value="australia">Ástralía</option>
        <option value="canada">Kanada</option>
        <option value="usa">Bandaríkin</option>
        <option value="japan">Japan</option>
        <option value="iceland">Ísland</option>
        <option value="norway">Noregur</option>
        <option value="Denmark">Danmörk</option>
        </select>
    
        <label for="subject">Viðfangsefni:</label>
        <textarea id="subject" name="subject" placeholder="Skrfaðu Hvað sem er" style="height:200px" ></textarea>
    
        <input type="submit" value="Submit" required pattern="\S+.*">
    
    </form>
</div>
      