<div id="site_content">
    {% include sidebar.html %}
    <div id="content">
    <h1><strong> Welcome to Ice Entertainments Homepage</strong></h1>
    <p class="paragraph">Ice Entertainment wishes to progress music forward by producing and backing the worlds greatest talent. We believe that great muscicians come from all corners of the world and and you can audition to be signed by the company <a href="/gitsvor.html">Here</a></p>
    <p class="paragraph">We will be going on a tour around the world with four amazing artists and will be holding a talent show at every venue. If you wish auditon for a once in lifetime oppurtunity you can sign up in the <a href="/gitsvor.html">Auditon</a> page.</p>
    <p class="paragraph">We reprisents some of the biggest names in music today which include Ed Sheeran, Harry Styles, Justin Bieber and Lady Gaga. </p>
    <p class="paragraph">Vivamus vulputate egestas massa vitae commodo. Cras feugiat molestie ultricies. Nam et diam at risus mattis vehicula. Vivamus auctor diam augue, sagittis scelerisque leo consectetur vel. Nam lorem nisl, lacinia id eros sit amet, hendrerit faucibus massa. Aenean eget facilisis ex. Curabitur euismod elementum quam, sodales lacinia tellus. Aenean eu efficitur velit. Etiam vulputate id justo vel vulputate.</p>
    <h2><strong>Concert Dates</strong></h2>
        {% include tafla.html %}
    </div>
</div>

