<div class="midja">
    <h1><img src="/evil2.svg" alt="evil" height="45" width="48" class="evil">Almennar upplýsingar</h1>
    <p>Ísland er eyríki í Norður-Atlantshafi á milli Grænlands, Færeyja og Noregs. Ísland er um 103.000 km² að stærð, næststærsta eyja Evrópu á eftir Bretlandi og sú átjánda stærsta í heimi. Á Íslandi búa um 355.000 manns.</p>
    <img src="/iceland-map.png" class="map">
</div>

<div class="haegri">
<h1><img src="/point-right.svg" alt="evil" height="45" width="48" class="evil">Innflytjendur</h1>
<p>Erlendum ríkisborgurum hefur fjölgað mjög á Íslandi á 21. öld. Árið 2005 var fjölgunin 29,5% og 34,7% árið eftir. Árið 2007 voru erlendir ríkisborgarar 18.563 talsins (6% af íbúum Íslands), og þann 1. janúar 2008 voru 21.434 erlendir ríkisborgarar skráðir (6,8% af íbúum Íslands). Það er 15,5% fjölgun árið 2007. Hlutfall erlendra ríkisborgara af heildarmannfjölda Íslands er nú hærra en annars staðar á Norðurlöndum, en árið 2006 var það næst hæst í Svíþjóð eða um 5,4%. Konur voru jafnan fjölmennari í hópi erlendra ríkisborgara til árins 2003, en síðan 2004 hafa karlar verið fjölmennari en konur. Í árslok 2007 voru karlar með erlent ríkisfang 8,1% allra karla en konur 5,5% allra kvenna. Árið 2018 var samkvæmt Hagstofunni hlutfall innflytjenda 12,6%, tæplega 40% af þeim eru pólskir.
Samkvæmt viðhorfskönnun sem var gerð árið 2009 meðal um 800 innflytjenda kom fram að dræm íslenskukunnátta hamlaði þeim helst í því að nýta menntun sína í starfi.</p>
</div>

<div>
    {% include tafla.html %}
</div>

