<div class="midja">
    <h2>Fótbolta Landsliðið</h2>
    <p>Liðið spilaði sinn fyrsta opinbera landsleik gegn Danmörku 17. júlí 1946. Leikurinn fór fram á Melavellinum í Reykjavík og tapaðist 0-3. Undir stjórn Lars Lagerbäck og Heimis Hallgrímssonar tryggði liðið sér í fyrsta sinn þátttökurétt á lokakeppni evrópumótsins í knattspyrnu sem haldið var í Frakklandi árið 2016 og undir stjórn Heimis komst liðið í fyrsta sinn á heimsmeistaramótsins. Ísland komst í 18. sæti á FIFA styrkleikalistanum í byrjun árs 2018 og hefur liðið aldrei verið hærra.</p>
</div>
<div class="haegri"> 
    <h2>Handbolta Landsliðið</h2>
    <p>HSÍ var stofnað 11. Júní 1957.HSÍ hefur haft fjórtán formenn en Guðmundur Á. Ingvarsson sat lengst eða frá 1996 – 2009.Flestir leikir karla: Guðmundur Hrafnkelsson (407).Flestir leikir kvenna: Hrafnhildur Ósk Skúladóttir (170).Flest mörk skoruð karla: Guðjón Valur Sigurðsson -1751 mörk (8.maí 2017).Flest mörk skoruð kvenna: Hrafnhildur Ósk Skúladóttir – 620 mörk.Heimsmeistaramót karla var haldið á Íslandi árið 1995 </p>         
</div>
<div>
    {% include ad.html %}
</div>
<div>
    {% include whey.html %}
</div>
