<nav class="nav2">
    <ul>
        <li><a href="index.html"><img src="/checkmark.svg" alt="check" height="20" width="23" class="evil">Forsíða</a></li>
        <li><a href="blog.html"><img src="/checkmark.svg" alt="check" height="20" width="23" class="evil">Víkingar</a></li>
        <li><a href="gitsvor.html"><img src="/checkmark.svg" alt="check" height="20" width="23" class="evil">Landslið</a></li>
        <li><a href="about.html"><img src="/checkmark.svg" alt="check" height="20" width="23" class="evil">Um mig</a></li>
    </ul>
    {% include efnisyfirlit.html %}
  </nav>