<div class="sidebar">
    <h1 class="artist" class="side-text"><strong>Hits From Artists</strong></h1>
    {% include soy.html %}
    {% include sign.html %}
    {% include bad.html %}
    <h3 class="side-text"><strong>Artists Twitter</strong></h3>
    <ul class="paragraph">
        <li><a href="https://twitter.com/edsheeran?lang=en" class="side-text">Ed Sheeran</a></li>
        <li><a href="https://twitter.com/Harry_Styles" class="side-text">Harry Styles</a></li>
        <li><a href="https://twitter.com/justinbieber" class="side-text">Justin Bieber</a></li>
        <li><a href="https://twitter.com/ladygaga" class="side-text">Lady Gaga</a></li>
    </ul>
</div>

    
