<table class="user-artist">
        <thead>
            <tr>
            <th class="row-2 row-date">Position in set</th>
            <th class="row-3 row-song">Song</th>
            </tr>
        </thead>
        <tbody class="paragraph">
            <tr>
            <td>1.</td>
            <td>Castle on the Hill</td>
            </tr>
            <tr>
            <td>2.</td>
            <td>The A Team</td>
            </tr>
            <tr>
            <td>3.</td>
            <td>Bloodstream</td>
            </tr>
            <tr>
            <td>4.</td>
            <td>Galway Girl</td>
            </tr>
            <tr>
            <td>5.</td>
            <td>Thinking Out Loud</td>
            </tr>
            <tr>
            <td>6.</td>
            <td>Happier</td>
            </tr>
            <tr>
            <td>7.</td>
            <td>Shape Of You</td>
            </tr>
        </tbody>
</table>
    