<table class="user-artist">
        <thead>
            <tr>
            <th class="row-2 row-date">Position in set</th>
            <th class="row-3 row-song">Song</th>
            </tr>
        </thead>
        <tbody class="paragraph">
            <tr>
            <td>22.</td>
            <td>Just Dance</td>
            </tr>
            <tr>
            <td>23.</td>
            <td>PokerGame</td>
            </tr>
            <tr>
            <td>24.</td>
            <td>Applause</td>
            </tr>
            <tr>
            <td>25.</td>
            <td>Papparazzi</td>
            </tr>
            <tr>
            <td>26.</td>
            <td>The Edge of Glory</td>
            </tr>
            <tr>
            <td>27.</td>
            <td>Bad Romance</td>
            </tr>
            <tr>
            <td>28.</td>
            <td>Born This Way</td>
            </tr>
        </tbody>
</table>
    