<table class="user-artist">
        <thead>
            <tr>
            <th class="row-2 row-date">Position in set</th>
            <th class="row-3 row-song">Song</th>
            </tr>
        </thead>
        <tbody class="paragraph">
            <tr>
            <td>15.</td>
            <td>Where Are Ü Now</td>
            </tr>
            <tr>
            <td>16.</td>
            <td>I'll Show You</td>
            </tr>
            <tr>
            <td>17.</td>
            <td>Cold Water</td>
            </tr>
            <tr>
            <td>18.</td>
            <td>Love yourself</td>
            </tr>
            <tr>
            <td>19.</td>
            <td>Company</td>
            </tr>
            <tr>
            <td>20.</td>
            <td>As Long as You Love Me</td>
            </tr>
            <tr>
            <td>21.</td>
            <td>Sorry</td>
            </tr>
        </tbody>
</table>
    