<table class="users">
    <thead>
        <tr>
        <th class="row-2 row-year">Ár</th>
        <th class="row-3 row-pop">Íbúafjöldi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>2010</td>
        <td>320.328</td>
        </tr>
        <tr>
        <td>2000</td>
        <td>280.435</td>
        </tr>
        <tr>
        <td>1990</td>
        <td>255.040</td>
        </tr>
        <tr>
        <td>1980</td>
        <td>228.262</td>
        </tr>
        <tr>
        <td>1970</td>
        <td>204.426</td>
        </tr>
        <tr>
        <td>1960</td>
        <td>175.592</td>
        </tr>
        <tr>
        <td>1950</td>
        <td>142.659</td>
        </tr>
    </tbody>
</table>
