<table class="users">
        <thead>
            <tr>
            <th class="row-2 row-year">Venue</th>
            <th class="row-3 row-pop">Date</th>
            </tr>
        </thead>
        <tbody class="paragraph">
            <tr>
            <td><a href="blog.html">Royal Albert Hall</a></td>
            <td>15/06/2019</td>
            </tr>
            <tr>
            <td><a href="blog.html">Ziggo Dome</a></td>
            <td>22/06/2019</td>
            </tr>
            <tr>
            <td><a href="blog.html">Madison Square Garden</a></td>
            <td>30/06/2019</td>
            </tr>
            <tr>
            <td><a href="blog.html">Barclays Center</a></td>
            <td>05/07/2019</td>
            </tr>
            <tr>
            <td><a href="blog.html">Tokyo Dome</a></td>
            <td>14/07/2019</td>
            </tr>
            <tr>
            <td><a href="blog.html">Wembley Stadium</a></td>
            <td>23/07/2019</td>
            </tr>
            <tr>
            <td><a href="blog.html">Rose Bowl</a></td>
            <td>20/07/2019</td>
            </tr>
        </tbody>
</table>
    