<body class="viking-body">
    <div class="viking">
        <h2>Víkingar</h2>
        <p>Víkingar var heiti á fornnorrænum sæförum og vígamönnum, sem upp voru á víkingaöld, það er á árunum frá 800 til 1050. Þessi ártöl eru þó ekki fastnjörvuð niður því það fer dálítið eftir löndum hvaða aldir eru einkum taldar einkennast af víkingum og menningu þeirra. Þannig er í Bretlandi oftast rætt um Víkingaöld frá árinu 793 til 1066, á Íslandi er miðað við 800 til ársins 1170, í Frakklandi er Víkingaöldin enn skemmri eða frá um 830 til 900 en í Rússlandi og Eystrasaltsríkjunum er miðað við ártölin 750 til elleftu aldar.</p>
        <img src="/vikingar.png" class="lukku">
    </div>
</body>